html
  head
    title='Quotes'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Quotes
        ul
          each item in quotes
            li
              p "#{item.quote}" - #{item.source}
